<div class='container-fluid' ng-controller='cartController'>
    <div class='row'>
        <div class='col-sm-5' ng-if='showProductsToBuy()'>
            <table class='table table-hover'>
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Brand</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='product in productsToBuy track by $index' style="cursor: hand;cursor: pointer;">
                    <td>{{ product.name }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.brand }}</td>
                    <td><button class='btn btn-primary' ng-click='removeProduct(product)'>Remove</button></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            <div>
            </div>
        </div>
        <div class='well' style='text-align:center' ng-if='!showProductsToBuy()'>
            <h2>You have not added any products to the cart</h2>
            <br /><br /><br />
            <button ui-sref='products'>Shop now</button>
        </div>
        <div class='col-sm-7' ng-if='showProductsToBuy()'>
            <form name='checkoutForm' ng-model='user' novalidate>
                <h4 ng-model='user.price'><strong>Total price is: {{ priceSum() | currency }}</strong></h4>
                
                <h4>Name: <input type='text' placeholder='Name' class="form-control" ng-model='user.name' ng-required='true'></h4>
                
                <h4>Email: <input type='text' placeholder='Email' class="form-control" ng-model='user.email' ng-required='true'></h4>
                
                <h4>Country: <input type='text' placeholder='Country' class="form-control" ng-model='user.country' ng-required='true'</h4>                    
                    
                <h4>ZIP: <input type='text' placeholder='ZIP' class="form-control" ng-model='user.zip' ng-required='true'</h4>

                    
                <h4>Address: <input type='text' placeholder='Address' class="form-control" ng-model='user.address' ng-required='true'</h4>
                
                <br /><br /><br />
                <button class='btn btn-danger' ng-click='submit(user)'>Order now!</button>
            </form>
        </div>
    </div>
</div>