<div ng-controller='productsController'>
    <div class="container">
        <div class="row">
            <!-- inline style due to lazyness, will remoove soon! -->
          <div class="col-xs-12 well" style='text-align: center'>
              <h2>Search products</h2>
              <input type='text' ng-model='search' />
          </div>
            <!-- inline style due to lazyness, will remoove soon! also; orderBy doesent work yet -->
          <div class="col-xs-12 well" style='text-align: center'>
            <h2>Order by</h2>
              <select ng-options='item.category for item in categories' ng-model='item'>
              </select>
          </div>
        </div>
    </div>
<!-- separate  search and orderBy from actual products, will be two files in future -->
    <div class="container">
      <div class="row">
          <!-- inline style due to lazyness, will remoove soon! important; repair; make hand appear only when whitin the panel! -->
        <div class="col-sm-3" ng-repeat='product in products | filter: search' track by $index ui-sref="productsDetail({id: product.id})" style="cursor: hand;cursor: pointer;">
          <br /><br /><br /><br />
          <div class="panel panel-primary">
            <div class="panel-heading" ui-sref="productsDetail({id: product.id})">{{ product.name }}&nbsp;{{ product.price | currency}}</div>
            <div class="panel-body"><img ng-src="{{ product.image }}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">{{ product.brand }}</div>
          </div>
        </div>
      </div>
    </div>
</div>
          
          
