<div class="container" ng-controller='productsDetailController'>
    <div class='row' style='text-align: center'>
        <img ng-src='{{ productsDetail.image }}' class="img-rounded"/>
        <h2>{{ productsDetail.name }}</h2>
    </div>
        <h3>{{ productsDetail.tagline }}</h3>
        <p>{{ productsDetail.description }}</p>
    <br /><br /><br /><br /><br /><br />
    <div class='row'>
        <h4 class='col-sm-3'>In stock: {{ productsDetail.stock }}</h4>
        <h4 class='col-sm-3'>Product color: {{ productsDetail.color }}</h4>
        <h4 class='col-sm-3'>Product on sale: {{ productsDetail.onSale }}</h4>
        <h4 class='col-sm-3'>Price: {{ productsDetail.price | currency }}</h4>
    </div>
    <br /><br /><br />
    <div class='row'>
        <br /><br /><br />
        <div style='text-align: center'>
            <div class='col-sm-4'>
                <button class='btn btn-success' ui-sref='products'>Back to Products</button>
            </div>
            <div class='col-sm-4'>
                <button class='btn btn-primary btn-lg' ng-click='addProductCart(productsDetail)'>Add to cart!</button>
            </div>
            <div class='col-sm-4'>
                <button class='btn btn-success' ui-sref='cart'>Go to Cart</button>
            </div>
        </div>
    </div>
    <br /><br /><br /><br />
    <div class="alert alert-success">
         <strong>Success!</strong> Indicates a successful or positive action.
    </div>
</div>

